// btn
.btn
  outline: none
  border: none
  border-radius: 30px
  height: 40px
  background-color: yellow
  color: gray
  font-weight: 600
  font-size: 18px
  transition: all 0.3s ease
  padding: 10px
  margin: 20px
  &:focus
    outline: none
  &--green
    background-color: green
// btn END